services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    
    # Use the .env file in the project root
    env_file:
      - .env

    volumes:
      - .:/var/www
    working_dir: /var/www

    ports:
      - "8080:80"  # Map host port 8080 to container port 80 (Nginx)
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: