services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    environment:
      WEBROOT: /var/www/html/public
      REAL_IP_HEADER: 1
      PHP_ERRORS_STDERR: 1
    volumes:
      - .:/var/www/html
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: pgvector/pgvector:pg18
    container_name: postgres_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: