services:
  # PHP-FPM / Laravel container
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    working_dir: /var/www
    # We can pass environment variables here or rely on .env in the code
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_KEY: base64:SFlBHKhX7nr0cPgwYFbXdvH3do1qW7jrQ4B5lNAmL8Y=
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/database/database.sqlite
    # No port mapping needed for FPM; it will be used by Nginx
    # but expose internal port 9000 if you like:
    expose:
      - "9000"

  # Nginx web server
  web:
    image: nginx:alpine
    container_name: laravel_web
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - app